<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mikel.agenda" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mikel.agenda.ActividadPrincipal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mikel.agenda.Lista_Asignaturas"
            android:label="@string/title_activity_lista__asignaturas"
            android:parentActivityName="com.mikel.agenda.ActividadPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mikel.agenda.ActividadPrincipal" />
        </activity>
        <activity
            android:name="com.mikel.agenda.crear_asignatura"
            android:label="@string/title_activity_crear_asignatura"
            android:parentActivityName="com.mikel.agenda.Lista_Asignaturas" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mikel.agenda.Lista_Asignaturas" />
        </activity>
    </application>

</manifest>
