<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mikel.agenda" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActividadPrincipal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".crear_asignatura"
            android:label="@string/title_activity_crear_asignatura"
            android:parentActivityName=".ActividadPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mikel.agenda.ActividadPrincipal" />
        </activity>
        <activity
            android:name=".lista"
            android:label="@string/title_activity_lista"
            android:parentActivityName=".ActividadPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mikel.agenda.ActividadPrincipal" />
        </activity>
        <activity
            android:name=".Examenes"
            android:label="@string/title_activity_examenes"
            android:parentActivityName=".ActividadPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mikel.agenda.ActividadPrincipal" />
        </activity>
        <activity
            android:name=".crear_examen"
            android:label="@string/title_activity_crear_examen"
            android:parentActivityName=".ActividadPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mikel.agenda.ActividadPrincipal" />
        </activity>
        <activity
            android:name=".Asignatura"
            android:label="@string/title_activity_asignatura"
            android:parentActivityName=".lista" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mikel.agenda.lista" />
        </activity>
    </application>

</manifest>
